.scroll-pane {
    -fx-background-color: #e7f5ff;
}

.scroll-pane > .viewport {
    -fx-background-color: #e7f5ff;
}

.scroll-pane > .scroll-bar:horizontal {
    -fx-opacity: 0;
}

.scroll-pane > .scroll-bar:vertical > .increment-button {
    -fx-opacity: 0;
}

.scroll-pane > .scroll-bar:vertical > .decrement-button {
    -fx-opacity: 0;
}

.scroll-pane > .scroll-bar:vertical > .track-background {
    -fx-background-color: #E7F5FF;
}

.scroll-pane > .scroll-bar:vertical > .thumb {
    -fx-background-color: #a5d8ff;
}

.web-view > .scroll-bar:vertical > .increment-button {
    -fx-opacity: 0;
}

.web-view > .scroll-bar:vertical > .decrement-button {
    -fx-opacity: 0;
}

.web-view > .scroll-bar:vertical > .track-background {
    -fx-background-color: #d0ebff;
}

.web-view > .scroll-bar:vertical > .thumb {
    -fx-background-color: #a5d8ff;
}

.web-view {
    -fx-page-fill: #e7f5ff;
}

.choice-box {
    -fx-background-color: #e7f5ff;
    -fx-border-color: #339af0;
    -fx-border-radius: 10px;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: #339af0;
}

.text-field {
    -fx-background-color: #e7f5ff;
    -fx-border-color: #339af0;
    -fx-border-radius: 10px;
}